# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Binary Files
*.dat

# Addition
# Ignore all temporary files in the root directory
*.[oa]

# Single Module Project
/.externalToolBuilders/
/.settings/
/.metadata/
/.recommenders/
/target/
/bin/
/build/
/doc/
/test-output/
/allure-results/
/.classpath
/.project
/.checkstyle
/reports/
/.idea/
*.iml

# Multi Modules Project
/**/.externalToolBuilders/
/**/.settings/
/**/target/
/**/doc/
/**/bin/
/**/build/
/**/test-output/
/**/allure-results/
/**/report/
/**/.classpath
/**/.project
/**/.checkstyle
/**/reports
/**/af.reporting
/**/.idea/
/**/*.iml

# Ignore binary
/.allure/
*.bin

# Ignore log
*.log
*.log.[1234567890]

# Ignore IntelliJ IDEA Config Files
*.stackdump

# Ignore Picture
*.bmp

# Ignore doc/notes.txt, but not doc/info/arch.txt
# doc/*.txt

# Ignore all .txt files in the directory doc/
# doc/**/*.txt

# Ignore .doc .pfd .docx
*.doc
*.docx
*.pdf

# bower
/bower_components/

# npm
/node_modules/

###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Custom PMP11
*.dat
